<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.eclipse.actf.examples.adesigner.ADesignerApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.actf.examples.adesigner.ADesignerApplication">
         </run>
      </application>
   </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.actf.ui.preferences.RootPreferencePage"
           class="org.eclipse.actf.examples.adesigner.ui.preferences.GeneralPreferencePage"
           id="org.eclipse.actf.examples.adesigner.ui.preferences.GeneralPreferencePage"
           name="%adesigner.preferences.general.title"/>
  </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.actf.examples.adesigner.ui.preferences.PreferenceInitializer"/>
   </extension>
      <extension
            point="org.eclipse.ui.actionSets">
         <actionSet
               id="org.eclipse.actf.examples.adesigner.ui.actionSet"
               label="aDesignerClientActionSet"
               visible="true">
            <action
                  class="org.eclipse.actf.examples.adesigner.ui.actions.OpenAction"
                  id="org.eclipse.actf.examples.adesigner.ui.actions.OpenAction"
                  definitionId="org.eclipse.actf.examples.adesigner.actions.OpenAction"
                  label="%adesigner.action.open"
                  menubarPath="file/fileGroup"
                  style="push"/>
            <action
                  class="org.eclipse.actf.examples.adesigner.ui.actions.SwitchModeAction"
                  id="org.eclipse.actf.examples.adesigner.ui.actions.SwitchModeAction"
                  label="%adesigner.action.switchmode"
                  menubarPath="file/modeGroup"
                  style="push"/>
         </actionSet>
      </extension>
         
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.actf.examples.adesigner.actions.OpenAction"
            name="%adesigner.action.open"/>
      <command
            id="org.eclipse.actf.visualization.blind.ui.actions.VisualizeAction"
            name="%adesigner.action.visualize"/>
      <command
            id="org.eclipse.actf.visualization.lowvision.ui.actions.SimulationAction"
            name="%adesigner.action.lowvision"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.actf.examples.adesigner.actions.OpenAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O"/>
      <key
            commandId="org.eclipse.actf.visualization.blind.ui.actions.VisualizeAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+B"/>
      <key
            commandId="org.eclipse.actf.visualization.lowvision.ui.actions.SimulationAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O"/>
   </extension>
   <extension
         id="aDesigner"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.actf.examples.adesigner.org.eclipse.actf.examples.adesigner.ADesignerApplication"
            name="aDesigner">
         <property
               name="windowImages"
               value="icons/excla_32.png">
         </property>
         <property
               name="aboutText"
               value="%About.Text">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="0,318,500,12">
         </property>
         <property
               name="startupMessageRect"
               value="10,203,500,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="aDesigner">
         </property>
      </product>
   </extension>

</plugin>
