<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.actf.examples.scripteditor.ScriptEditor">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.actf.examples.scripteditor.FileActionSet"
            label="FileActionSet"
            visible="true">
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.FileOpenAction"
               definitionId="org.eclipse.actf.examples.scripteditor.actions.FileOpenAction"
               id="org.eclipse.actf.examples.scripteditor.FileOpenAction"
               label="%scripteditor.action.open"
               menubarPath="file/fileOpenGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.FileCloseAction"
               id="org.eclipse.actf.examples.scripteditor.FileCloseAction"
               label="%scripteditor.action.close"
               menubarPath="file/fileCloseGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.FileSaveAsAction"
               id="org.eclipse.actf.examples.scripteditor.FileSaveAsAction"
               label="%scripteditor.action.save.as"
               menubarPath="file/fileSaveGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.FileSaveAction"
               definitionId="org.eclipse.actf.examples.scripteditor.actions.FileSaveAction"
               id="org.eclipse.actf.examples.scripteditor.FileSaveAction"
               label="%scripteditor.action.save"
               menubarPath="file/fileSaveGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.MovieOpenAction"
               definitionId="org.eclipse.actf.examples.scripteditor.actions.MovieOpenAction"
               id="org.eclipse.actf.examples.scripteditor.MovieOpenAction"
               label="%scripteditor.action.movieopen"
               menubarPath="file/movieGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.MovieReloadAction"
               definitionId="org.eclipse.actf.examples.scripteditor.actions.MovieReloadAction"
               id="org.eclipse.actf.examples.scripteditor.MovieReloadAction"
               label="%scripteditor.action.reload"
               menubarPath="file/movieGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.ExportTTMLAction"
               id="org.eclipse.actf.examples.scripteditor.ExportTTMLAction"
               label="Export TTML"
               menubarPath="file/impExportGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.FileCSVExportAction"
               id="org.eclipse.actf.examples.scripteditor.FileCSVExporttAction"
               label="%scripteditor.action.csv.export"
               menubarPath="file/impExportGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.FileCSVImportAction"
               id="org.eclipse.actf.examples.scripteditor.FileCSVImportAction"
               label="%scripteditor.action.csv.import"
               menubarPath="file/impExportGroup"
               style="push">
         </action>
      </actionSet>
      <actionSet
            id="org.eclipse.actf.examples.scripteditor.MultimediaActionSet"
            label="MultimediaActionSet"
            visible="true">
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.MovieRewindAction"
               definitionId="org.eclipse.actf.examples.scripteditor.actions.MovieRewindAction"
               id="org.eclipse.actf.examples.scripteditor.MovieRewindAction"
               label="%scripteditor.action.rewind"
               menubarPath="multimedia/mediaMovieGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.MoviePlayAction"
               definitionId="org.eclipse.actf.examples.scripteditor.actions.MoviePlayAction"
               id="org.eclipse.actf.examples.scripteditor.MoviePlayAction"
               label="%scripteditor.action.play_pause"
               menubarPath="multimedia/mediaMovieGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.MovieCaptureAudioCaptureModeAction"
               id="org.eclipse.actf.examples.scripteditor.CaptureAudioCaptureAction"
               label="%scripteditor.popup.captureaudio.capture"
               menubarPath="multimedia/capturemode/captureAudioModeGroup"
               state="true"
               style="toggle">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.MovieCaptureAudioScriptModeAction"
               id="org.eclipse.actf.examples.scripteditor.CaptureAudioScriptModeAction"
               label="%scripteditor.popup.captureaudio.script.enable"
               menubarPath="multimedia/capturemode/captureAudioModeGroup"
               state="true"
               style="toggle">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.MovieCaptureAudioClearDataAction"
               id="org.eclipse.actf.examples.scripteditor.CaptureAudioClearAction"
               label="%scripteditor.popup.captureaudio.clear"
               menubarPath="multimedia/capturemode/captureAudioClearGroup"
               style="push">
         </action>
         <action
               class="org.eclipse.actf.examples.scripteditor.actions.FlashAnalyzeAction"
               definitionId="org.eclipse.actf.examples.scripteditor.actions.FlashAnalyzeAction"
               id="org.eclipse.actf.examples.scripteditor.FlashAnalyzeAction"
               label="%scripteditor.action.analyze"
               menubarPath="multimedia/mediaMovieGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ScriptEditor Perspective"
            class="org.eclipse.actf.examples.scripteditor.Perspective"
            id="org.eclipse.actf.examples.scripteditor.perspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.actf.model.ui.editors.ie.WebBrowserEditor"
            contributorClass="org.eclipse.actf.model.internal.ui.editors.ie.WebBrowserEditorContributor"
            extensions="html, htm, xhtml, mht"
            icon="icons/browser.gif"
            id="org.eclipse.actf.model.ui.editors.ie.WebBrowserEditor"
            name="%browser.ie.title">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.actf.ai.ui.scripteditor.views.EditPanelView"
            icon="icons/micx16.gif"
            id="org.eclipse.actf.examples.scripteditor.EditPanelView"
            name="%scripteditor.view.editpanel">
      </view>
      <view
            class="org.eclipse.actf.ai.ui.scripteditor.views.ScriptListView"
            icon="icons/setting.png"
            id="org.eclipse.actf.examples.scripteditor.ScriptListView"
            name="%scripteditor.view.scriptlist">
      </view>
      <view
            class="org.eclipse.actf.ai.ui.scripteditor.views.TimeLineView"
            icon="icons/timeline.gif"
            id="org.eclipse.actf.examples.scripteditor.VolumeLevelView"
            name="%scripteditor.view.timeline">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.actf.examples.scripteditor.application"
            name="ACTF Script Editor">
         <property
               name="windowImages"
               value="icons/bl_16.gif,icons/bl_32.gif,icons/bl_48.gif">
         </property>
         <property
               name="appName"
               value="ACTF Script Editor">
         </property>
         <property
               name="aboutImage"
               value="about.bmp">
         </property>
         <property
               name="aboutText"
               value="%About.Text">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="10,250,480,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,318,500,12">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.MovieOpenAction"
            name="%scripteditor.action.movieopen">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.FileOpenAction"
            name="%scripteditor.action.open">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.FileSaveAction"
            name="%scripteditor.action.save">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.MovieReloadAction"
            name="%scripteditor.action.reload">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.FlashAnalyzeAction"
            name="%scripteditor.action.analyze">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.AppQuitAction"
            name="%scripteditor.action.exit">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.MovieRewindAction"
            name="%scripteditor.action.rewind">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.MoviePlayAction"
            name="%scripteditor.action.play">
      </command>
      <command
            id="org.eclipse.actf.examples.scripteditor.actions.HelpAboutAction"
            name="%scripteditor.action.about">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.actf.examples.scripteditor.actions.FileOpenAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
      <key
            commandId="org.eclipse.actf.examples.scripteditor.actions.FileSaveAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+S">
      </key>
      <key
            commandId="org.eclipse.actf.examples.scripteditor.actions.MovieReloadAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
      <key
            commandId="org.eclipse.actf.examples.scripteditor.actions.FlashAnalyzeAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
      <key
            commandId="org.eclipse.actf.examples.scripteditor.actions.MovieRewindAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R">
      </key>
      <key
            commandId="org.eclipse.actf.examples.scripteditor.actions.MoviePlayAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAUSE">
      </key>
   </extension>
   <extension
         point="org.eclipse.actf.model.ui.browserFavorites">
      <favorites
            prefFile="favorites.pref">
      </favorites>
   </extension>
   <extension
         point="org.eclipse.actf.model.ui.webBrowserEventListener">
      <listener
            class="org.eclipse.actf.ai.internal.ui.scripteditor.WebBrowserEventListenerForPP">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.actf.ui.preferences.RootPreferencePage"
            class="org.eclipse.actf.ai.scripteditor.preferences.CapturePreferencePage"
            id="org.eclipse.actf.ai.scripteditor.preferences.CapturePreferencePage"
            name="%scripteditor.preference.capture.name">
      </page>
      <page
            category="org.eclipse.actf.ui.preferences.RootPreferencePage"
            class="org.eclipse.actf.ai.scripteditor.preferences.CSVRulePreferencePage"
            id="org.eclipse.actf.ai.scripteditor.preferences.CSVRulePreferencePage"
            name="%scripteditor.preference.csvrule.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.actf.ai.scripteditor.preferences.CapturePreferenceInitializer">
      </initializer>
      <initializer
            class="org.eclipse.actf.ai.scripteditor.preferences.CSVRulePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
